In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import os

abspath = os.path.abspath('/Users/HP/Desktop/ekinox_test/')
dname = os.path.dirname(abspath)
os.chdir(dname)

In [4]:
dname

'c:\\Users\\HP\\Desktop'

In [5]:
df = pd.read_csv('./ekinox_test/data/dataset/student_data.csv')
df

,StudentID,FirstName,FamilyName,school,sex,age,address,famsize,Pstatus,Medu,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,FinalGrade
0,0,Rafael,Morais,GP,F,18,U,GT3,A,4,...,no,no,4,3,4,1,1,3,6,6
1,1,Lara,Braga,GP,F,17,U,GT3,T,1,...,yes,no,5,3,3,1,1,3,4,6
2,2,Gonçalo,Azevedo,GP,F,15,U,LE3,T,1,...,yes,no,4,3,2,2,3,3,10,10
3,3,Lara,Perna,GP,F,15,U,GT3,T,4,...,yes,yes,3,2,2,1,1,5,2,15
4,4,João,Pires,GP,F,16,U,GT3,T,3,...,no,no,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,390,Alice,Barcellos,MS,M,20,U,LE3,A,2,...,no,no,5,5,4,4,5,4,11,9
353,391,Rodrigo,Quintal,MS,M,17,U,LE3,T,3,...,yes,no,2,4,5,3,4,2,3,16
354,392,Carolina,Hiza,MS,M,21,R,GT3,T,1,...,no,no,5,5,3,3,3,3,3,7
355,393,Benedita,Amaral,MS,M,18,R,LE3,T,3,...,yes,no,4,4,1,3,4,5,0,10
356,394,Lourenço,Luis,MS,M,19,U,LE3,T,1,...,yes,no,3,2,3,3,3,5,5,9